@model IEnumerable<Onboard2.Models.MyProduk>

@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap-flatly.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<br />

<a href="#" class="btn btn-warning" onclick="AddEditProduct(0)">Insert New Product</a>
<br /><br />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr id="row_@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.Name)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td><a href="#" class="btn btn-info btn-sm" onclick="ShowProduct(@item.Id)"><i class="glyphicon glyphicon-eye-open"></i> Details</a> </td>

        <td><a href="#" class="btn btn-success btn-sm" onclick="AddEditProduct(@item.Id)"><i class="glyphicon glyphicon-pencil"></i> Edit</a> </td>

        <td><a href="#" class="btn btn-danger btn-sm" onclick="ConfirmDelete(@item.Id)"><i class="glyphicon glyphicon-trash "></i> Delete</a> </td>



    </tr>
    }

</table>

<!-- DELETE MODAL -->
<div class="modal fade" id="myDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Product</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this. </h4>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteProduct()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<!-- SHOW MODAL -->

<div class="modal fade" id="myShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Details</h3>
            </div>
            <div class="modal-body" id="MyModalBodyShow">

                <!-- THIS PART WILL BE INSERTED WITH PARTIAL VIEW ShowProduct.cshtml -->


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>

            </div>

        </div>

    </div>

</div>


<!-- EDIT MODAL -->

<div class="modal fade" id="myEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">AddEdit Product</h3>
            </div>
            <div class="modal-body" id="MyModalBodyEdit">

                <!-- THIS PART WILL BE INSERTED WITH PARTIAL VEIW AddOrEdit.cshtml -->

                <div id="loaderDiv" style="text-align: center; display: none">
                    <img src="~/Content/Internetslowdown_Day.gif" width="64" />
                </div>
            </div>


        </div>

    </div>

</div>


<!-- CREATE PRODUCT MODAL -->
<div id="myCreateModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismis="modal">&times;</a>
                <h3 class="modal-title">Create Product</h3>

            </div>

            <div class="modal-body">


                <!--GIF LOADER WHEN THE BUTTON IS SUBMITTED-->
                <div id="loaderDiv" style="text-align: center; display: none">
                    <img src="~/Content/Internetslowdown_Day.gif" width="64" />
                </div>


            </div><!-- class = modal-body -->

            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success" id="btnSubmit" />
            </div>

        </div><!--class=modal-content-->
    </div><!--class=modal-dialog-->
</div>
<!-- CREATE MODAL PRODUCT END -->


@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenProductId" />


<script>
    // DECLARE GLOBAL VARIABLE
    var ConfirmDelete;
    var DeleteProduct;
    var AddEditProduct;
    var ShowProduct;


    $(document).ready(function () {


        ///// => ConfirmDelete() <= \\\\\
        ConfirmDelete = function (Id) {
            $("#hiddenProductId").val(Id);
            $("#myDeleteModal").modal('show');

        }


        ///// => DeleteProduct() <= \\\\\
        DeleteProduct = function () {
            
            $("#loaderDiv").show();
            var prodId = $("#hiddenProductId").val();
            $.ajax({

                type: "POST",
                url: "/Product/DeleteProduct ",
                data: { Id: prodId },
                success: function (result) {

                    $("#loaderDiv").hide();
                    $("#myDeleteModal").modal("hide");
                    $("#row_" + prodId).remove();

                }

            })

        }

        ///// => AddOrEdit() <= \\\\\
        AddEditProduct = function (Id) {
            var url = "/Product/AddOrEdit?Id=" + Id;

            $("#MyModalBodyEdit").load(url, function () {
                $("#myEditModal").modal("show");
            })
        }

        ///// => ShowProduct() <= \\\\\
        ShowProduct = function (Id) {
            $.ajax({

                type: "POST",
                url: "/Product/ShowProduct ",
                data: { Id: Id },
                success: function (response) {
                    $("#MyModalBodyShow").html(response);
                    $("#myShowModal").modal("show");


                }

            })
        }

        
    })




</script>