@model IEnumerable<Onboard2.Models.MyCustomer>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap-flatly.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<br />

<a href="#" class="btn btn-warning" onclick="AddEditCustomer(0)">Insert New Customer</a>
<br /><br />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td><a href="#" class="btn btn-info btn-sm" onclick="ShowCustomer(@item.Id)"><i class="glyphicon glyphicon-eye-open"></i> Details</a> </td>

            <td><a href="#" class="btn btn-success btn-sm" onclick="AddEditCustomer(@item.Id)"><i class="glyphicon glyphicon-pencil"></i> Edit</a> </td>

            <td><a href="#" class="btn btn-danger btn-sm" onclick="ConfirmDelete(@item.Id)"><i class="glyphicon glyphicon-trash "></i> Delete</a> </td>

        </tr>
    }

</table>


<!-- SHOW MODAL -->

<div class="modal fade" id="myShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Details</h3>
            </div>
            <div class="modal-body" id="MyModalBodyShow">

                <!-- THIS PART WILL BE INSERTED WITH PARTIAL VIEW ShowCustomer.cshtml -->


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>

            </div>

        </div>

    </div>

</div>

<!-- DELETE MODAL -->

<div class="modal fade" id="myDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Customer</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this customer. </h4>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteCustomer()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<!-- EDIT MODAL -->

<div class="modal fade" id="myEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">AddEdit Customer</h3>
            </div>
            <div class="modal-body" id="MyModalBodyEdit">

                <!-- THIS PART WILL BE INSERTED WITH PARTIAL VEIW AddOrEdit.cshtml -->

            </div>


        </div>

    </div>

</div>

<!-- CREATE PRODUCT MODAL -->
<div id="myCreateModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismis="modal">&times;</a>
                <h3 class="modal-title">Create Product</h3>

            </div>

            <div class="modal-body">


                <!--GIF LOADER WHEN THE BUTTON IS SUBMITTED-->
                <div id="loaderDiv" style="text-align: center; display: none">
                    <img src="~/Content/Internetslowdown_Day.gif" width="64" />
                </div>


            </div><!-- class = modal-body -->

            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success" id="btnSubmit" />
            </div>

        </div><!--class=modal-content-->
    </div><!--class=modal-dialog-->
</div>
<!-- CREATE MODAL PRODUCT END -->
@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenCustomerId" />


<script>
    var ShowCustomer;
    var ConfirmDelete;
    var DeleteCustomer;
    var AddEditCustomer;

    $(document).ready(function () {

        ///// => ShowProduct() <= \\\\\
        ShowCustomer = function (Id) {
            $.ajax({

                type: "POST",
                url: "/Customer/ShowCustomer",
                data: { Id: Id },
                success: function (response) {
                    $("#MyModalBodyShow").html(response);
                    $("#myShowModal").modal("show");


                }

            })
        }


        ///// => ConfirmDelete() <= \\\\\
        ConfirmDelete = function (Id) {
            $("#hiddenCustomerId").val(Id);

            $("#myDeleteModal").modal('show');

        }

        ///// => DeleteCustomer() <= \\\\\
        DeleteCustomer = function () {

            debugger
            $("#loaderDiv").show();
            var custId = $("#hiddenCustomerId").val();
            $.ajax({

                type: "POST",
                url: "/Customer/DeleteCustomer ",
                data: { Id: custId },
                success: function () {

                    $("#loaderDiv").hide();
                    $("#myDeleteModal").modal("hide");
                    $("#row_" + custId).remove();

                }

            })

        }

        ///// => AddOrEdit() <= \\\\\
        AddEditCustomer = function (Id) {
            var url = "/Customer/AddOrEdit?Id=" + Id;

            $("#MyModalBodyEdit").load(url, function () {
                $("#myEditModal").modal("show");
            })
        }

    })
</script>