
@model Onboard2.Models.MySale



<div>

    <form id="myForm" class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductName, ViewBag.ProductList as SelectList, "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CustomerName, ViewBag.CustomerList as SelectList, "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StoreName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StoreName, ViewBag.StoreList as SelectList, "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSold, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DateSold, new { @class = "form-control", @placeholder = "Date Sold" })
                @Html.ValidationMessageFor(model => model.DateSold, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div style="text-align: center" class="col-md-4 col-md-offset-2">
                <a href="#" id="btnSubmit" class="btn btn-success btn-block">
                    @if (Model.Id > 0)
                    {<span>Update</span> }
                    else
                    {<span>Save</span>}
                </a>
            </div>
        </div>

    </form>

    <div style="text-align:center;display:none" id="loaderDiv">
        <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
    </div>

</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            var ProductName = $("#ProductName").val();
            var CustomerName = $("#CustomerName").val();
            var StoreName = $("#StoreName").val();
            var DateSold = $("DateSold").val();

            if (ProductName == "" || ProductName == undefined)
            {
                alert("Please input product name");
            }

            if (CustomerName == "" || CustomerName == undefined) {
                alert("Please input customer's name");
            }

            if (StoreName == "" || StoreName == undefined) {
                alert("Please input store name");
            }

            if (DateSold == "" || DateSold == undefined) {
                alert("Please input date or ignore this warning if you already input");
            }

            $.ajax({

                type: "POST",
                url: "/Sale/CreateProductSold",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Sale/GetSaleList";

                }

            })
        })

    })


</script>
